body
{
	background-color : #CCC;
	padding: 0px;
	margin: 0px;
}

.container
{
	background-color: #fff;
	width: 740px;
	height: 400px;
	border-radius: 0.3px;
	margin: 0px auto;
	border-bottom: 2px solid #ccc;
	margin-top: 50px;
}

.paragraph 
{
	background-color: #74ad5a;
	color: white;
	font-family: sans-serif;
	font-size: 17px;
	text-align: left;
	border-radius: 0.3px;
	padding: 15px; 0px; 15px; 0px;
	margin-bottom: 20px;
}

.input
{
	width: 200px;
	height: 30px;
	border-radius: 0.2px;
	border: none;
	border: 1px solid #CCC;
	display:inline-block;
	margin-left: 25px;
	padding-left: 05px;
	border-left: 03px solid #27ae60;
	margin-top: 10px;
	margin-bottom: 10px;
}

label.loginlabel
{
	position: relative;
    right: 60px;
	display: inline-block;
	margin-left: 15px;
	font-family: sans-serif;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 15x;
}
label.linklabel
{
	position: relative;
    right: -360px;
	width: 150px;
	margin-left: 15px;
	font-family: sans-serif;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 15px;
}
h2
{
	margin-left: 15px;
	font-family: sans-serif;
	margin-top: 20px;
	padding-left: 10px;
}

button.loginbtn
{
	position: relative;
	margin-top: 20px;
	margin-left: 20px;
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
}


